* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Цвета */
:root {
    --black: #282828;
    --accent: #998431;
    --white: #fff;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
/* Меню */
.info {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
}
.menu_list {
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.menu_list_item {
    list-style: none;
    border-right: 1px solid var(--white);
    padding: 11px 107px 15px 107px;
}
.menu_list_item:last-child {
    border: 0;
}
.menu_list_item a {
    color: var(--white);
    font-size: 14px;
    line-height: 21px;
}
/* Главный экран */
.main_flex {
    border: 1px solid var(--white);
    text-align: center;
    padding: 43px 101px 95px;
    max-width: 922px;
    margin: 176px auto 256px;

}
.line {
    margin: 0 auto 17.25px;
    width: 160px;
}
.main_title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    line-height: 54px;
    font-size: 36px;
}
.main_text {
    padding-top: 66.28px;
    line-height: 24px;
    margin-bottom: 80px;
}
/* Продукты */
.main {
    background-color: var(--white);
    color: var(--black);
}
.products_flex{
  display: flex;
  padding-top: 80px;
}
.products_flex_item {
  border-top: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent); 
  padding-top: 60px;
  margin-bottom: 80px;
}
.products_flex_item:first-child {
  padding-right: 120px;
}
.products_subtext {
  line-height: 24px;
  margin-bottom: 30px;
}
.products_title {
  font-size: 36px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 500;
  line-height: 54px;
  max-width: 290px;
}
.products_line {
  margin: 30px 0;
  background-color: var(--black);
  max-width: 160px;
}
.products_description {
  width: 445px;
}
#table_products {
  text-wrap: nowrap;
  border-collapse: collapse;
  border-style: hidden;
  font-size: 14px;
  line-height: 21px;
  margin: 30px 0;
}
#table_products tr, td {
  border: 1px solid var(--black);
}
#table_products td {
  padding: 10px 40px 15px 30px;
}
#table_products td span {
  font-family: 'Playfair Display', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  display: block;
}
#table_products td:first-child {
  padding: 26px 24px;
}
.products_link {
  display: block;
  margin-top: 80px;
  color: var(--accent);
  font-weight: 500;
  letter-spacing: 0.8px;
  text-decoration: underline;
  text-transform: uppercase;
}
.add_product_images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 60px;
}
/* Подвал */
.footer {
  background-color: var(--accent);
  color: var(--white);
}
.footer_menu {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
.footer_menu_list {
  display: flex;
  justify-content: space-around;
  padding: 19px 60px 20px 60px;
  border-bottom: 1px solid var(--white);
  border-top: 1px solid var(--white);
}
.footer_menu_list_item {
  list-style: none;
}
.footer_menu_list_item a {
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
}
.footer_submenu_list {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--white);
  margin-bottom: 50px;
}
.footer_submenu_list_item {
  list-style: none;
  padding: 19px 58px 20px 58px;
  border-right: 1px solid var(--white);
}
.footer_submenu_list_item:last-child {
  border: none;
}
.footer_submenu_list_item a {
  color: var(--white);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 600;
}
.socialmedia_group {
  display: flex;
}
.socialmedia_group a {
  margin-right: 35px;
}
.socialmedia_group a:last-child{
  margin-right: 0;
}

